/* Custom Styles */
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #3c3c3c;
}

.text-thin {
	font-weight: 100;
}

.text-muted {
	color: #7f7f7f;
}

.header {
	margin-top: 20px;
}

hr {
	border-top: 2px solid #e5e5e5;
}

/* Header Styles */
.header-logo {
	margin-top: 20px;
	margin-bottom: 10px;
	height: auto;
	display: inline;
}

.header-title {
	display: inline-block;
	float: right;
	vertical-align: bottom;
}

@media screen and (max-width: 400px) {
	.header-logo {
		height: 60px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h1.header-title {
		font-size: 24px;
	}
	
}